@use "../abstracts" as *;

.grid {
    display: grid;
    gap: $space-4;

    &--2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &--3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@include respond-below(tablet) {
    .grid--3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@include respond-below(mobile) {
    .grid--2,
    .grid--3 {
        grid-template-columns: 1fr;
    }
}
